.chat-main
  .main-hedder
    .main-group
      %h2.main-group__current-group
        = @group.name
      %ul.main-group__group-member
        - @group.users.each do |user|
          = Member: user.name
    = link_to edit_group_path(@group.id) , class:"main-group__edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        %label{class: "input-box__image"}
          = icon('fas' ,'image')
          = f.file_field :image, type: "file", class: "input-box__image__file"
      %input{type: "submit",class: "submit-btn", value: "Send"}